.title-box {
  display: flex;
  flex-direction: row;
}

.title-text {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.author {
  color: rgb(57, 168, 149);
}

.horizontal-separator {
  width: 15px;
}

.vertical-separator {
  height: 15px;
}

.date {
  color: #757575;
  font-weight: 600;
}

.comment-button {
  background-color: rgb(57, 168, 149);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  cursor: pointer;
}

textarea {
  flex: 1;
}

.comment-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button {
  color: rgb(57, 168, 149);
  font-weight: bold;
  cursor: pointer;
}

.edit-button:hover {
  text-decoration: underline;
}
