.header-container {
  display: flex;
  flex-direction: row;
}

.ad-title {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.price {
  color: rgb(57, 168, 149);
  font-weight: bold;
}

.author {
  color: #636363;
  font-weight: 700;
}

.date {
  color: #757575;
}

.horizontal-separator {
  width: 30px;
}

.vertical-separator {
  height: 10px;
}

.details-button {
  color: rgb(57, 168, 149);
  font-weight: bold;
  cursor: pointer;
}

.details-button:hover {
  text-decoration: underline;
}
