.title-text {
  color: black;
  font-weight: 600;
  font-size: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: red;
  cursor: pointer;
}
