.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgb(57, 168, 149);
  cursor: pointer;
  text-align: center;
}
