.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 168, 149);
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.nav-item {
  font-weight: bold;
  color: rgb(57, 168, 149);
}

.compose-button {
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
