.field {
  width: 100%;
}

.recipient {
  display: flex;
  flex-direction: row;
}

.add-recipient {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  cursor: pointer;
  background-color: rgb(57, 168, 149);
  text-align: center;
}
