.breadcrumb {
  margin: 15px 0;
}

.back-button {
  cursor: pointer;
  color: rgb(57, 169, 149);
  font-weight: 700;
}

.submit-btn {
  border: 1px solid #000;
  width: fit-content !important;
  min-width: 100px;
  background: #a9e2d9;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  margin: auto;
  cursor: pointer;
}
  
.submit-btn.delete {
  background: #ffaaaa;
}

.selected {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.is-error {
  color: red;
}

/* PAGE STYLES */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* CARD STYLES */
.page-container {
  padding: 30px;
}

.card {
  background-color: #e0e0e0;
  padding: 20px;
  box-shadow: 2px 5px 2px #aaaaaa;
  margin-bottom: 20px;
}

.card-comment {
  border-top: 1px solid grey;
  padding-top: 10px;
}

.card-comment .card-info {
  margin-bottom: 10px;
}

.card-comment .card-author {
  color: rgb(57, 168, 149);
  font-weight: 600;
}

.card-info {
  display: flex;
  align-items: baseline;
}

.card-title {
  font-size: 20px;
  margin-right: 20px;
}

.card-author {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #565656;
}

.card-date {
  margin-right: 20px;
  font-style: italic;
}

.card-price {
  margin-right: 20px;
  font-weight: 500;
  color: rgb(57, 168, 149);
}

.card-description {
  margin-bottom: 15px;
}

.is-success {
  color: blue;
}