div.group-post {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: block;
  min-width: 150px;
  min-height: 150px;
  position: relative;
}

.groupPost div {
  padding-top: 40px;
  display: inline;
}

div.groupsInput {
  margin-left: 50px;
  margin-right: 50px;
}

div.postContainer {
  outline-style: double;
}

span.date {
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.postedImage {
  float: left;
  position: static;
  padding-left: 70px;
  max-width: 300px;
  max-height: 300px;
}

.groupList {
  outline-style: auto;
}

.reply-input-wrapper {
  padding-left: 60px;
}
