.subnav {
  display: flex;
  color: #32a895;
  margin: 10px 0;
  padding-left: 30px;
}

.page-container.admin .card.general {
  display: none;
}

.page-container.general .card.admin {
  display: none;
}

.card.admin {
  border: 4px solid #f37303
}
